<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>小说种类编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/index.css">
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/index.js"></script>
    <script type="text/javascript" src="./js/axios.js"></script>
    <script type="text/javascript" src="./js/vue.js"></script>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row" id="app">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="ID" class="layui-form-label">
                    <span class="x-red">*</span>主键</label>
                <div class="layui-input-inline">
                    <input v-model="bookCategory.id" type="text"  required="" lay-verify="required" autocomplete="off"
                           class="layui-input" readOnly="readonly"></div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="workDirection" class="layui-form-label">
                    <span class="x-red">*</span>作品方向</label>
                <div class="layui-input-inline">
                    <input v-model="bookCategory.workDirection" type="text" id="workDirection" name="workDirection" required="" lay-verify="required"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>分类名</label>
                <div class="layui-input-inline">
                    <input v-model="bookCategory.name" type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off"
                           class="layui-input"></div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
            </div>
            <div class="layui-form-item">
                <label for="sore" class="layui-form-label">
                    <span class="x-red">*</span>顺序</label>
                <div class="layui-input-inline">
                    <input v-model="bookCategory.sort" type="text" id="sort" name="sort" required="" lay-verify="required" autocomplete="off"
                           class="layui-input"></div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
            </div>
            <div class="layui-form-item">
                <label for="createTime" class="layui-form-label">
                    <span class="x-red">*</span>创建时间</label>
                <div class="layui-input-inline">
                    <input v-model="bookCategory.createTime" type="text" id="createTime" name="createTime" required="" lay-verify="date"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="createUserId" class="layui-form-label">
                    <span class="x-red">*</span>创建者ID</label>
                <div class="layui-input-inline">
                    <input v-model="bookCategory.createUserId" type="text" id="createUserId" name="createUserId" required="" lay-verify="required"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="updateTime" class="layui-form-label">
                    <span class="x-red">*</span>更新时间</label>
                <div class="layui-input-inline">
                    <input v-model="bookCategory.updateTime" type="text" id="updateTime" name="updateTime" required="" lay-verify="date"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="updateUserId" class="layui-form-label">
                    <span class="x-red">*</span></label>
                <div class="layui-input-inline">
                    <input v-model="bookCategory.updateUserId" type="text" id="updateUserId" name="updateUserId" required="" lay-verify="required"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" @click="upd()">修改</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            bookCategory: {
                id: '',
                workDirection: '',
                name: '',
                sort: '',
                createUserId: '',
                createTime: '',
                updateUserId: '',
                updateTime: ''
            }


        },
        created: function () {
            axios.get("/bookCategory/detail?id=" + sessionStorage.getItem("bookCategory"))
                .then(function (response) {
                    alert(response.data)
                    if (response.data.code == 200) {

                        this.app.bookCategory = response.data.data;

                        alert(response.data.message)
                    }
                    if (response.data.code == 500) {
                        alert("查找失败")
                    }


                }).catch(function (err) {
                alert(err)
            })
            //发出查询所有员工的请求

        },
        methods: {
            upd: function () {

                //alert(data);
                axios.post("/bookCategory/update", app.bookCategory).then(function (response) {
                    //  alert(response.data.code);
                    if (response.data.code == 200) {
                        alert("修改成功")
                    }
                    if (response.data.code == 500) {
                        alert('修改失败')
                    }
                })
            }
        }
    })
</script>
</body>

</html>